/* Optional theme */
@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css');

body {
	background-color: #fff;
	color: #34393E;
}

p {
	font-size: 14px;
}

.container-personal {
	text-align: center;
	width: 400px;
	height: 400px;
	line-height: 500px;
	margin: 0 auto;
}

.bloc-content {
	text-align: left;
	width: 400px;
	vertical-align: middle;
	display: inline-block;
	line-height: 1.2;
}

.subtitle p {
	font-size: 20px;
}

.header p {
	font-size: 25px;
}

.header h1 {
	/*margin-top: 200px;*/
	font-size: 40px;
	color: #34393E;
}

h2, h3 {
	/*text-align: center;*/
}
