/* Optional theme */
@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css');


body {
	margin: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	color: #1E1E1E;
}


/* Navbar */

.navbar-right {
	margin-right: 50px;
}

nav {
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
}

nav a {
	color: #3E4149;
}


/* Header */

.header {
	background-image: url('images/header_background2.png');
	width: 100%;
	height: 100%;
	padding-top: 150px;
	padding-bottom: 150px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #FFFFFF;
}

.header_title {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	line-height: 50px;
}

.header_initials {
	font-size: 100px;
}

.header_name {
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 2px;
}

.header_description {
	font-size: 50px;
	font-weight: 100;
	letter-spacing: 10px;
	text-transform: uppercase;
}

.header_title h1 {
	font-size: 30px;
	font-weight: 100;
}

/* Sections */

.separationstiretscouleurs {
    width: 80px;
    margin: 10px auto 20px;
    border-bottom: 3px solid;
    border-bottom-color: #6699cc;
}

.section_title h3 {
	text-align: center;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.title_section_small {
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}

.title_section_small_description {
	margin-top: -10px;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}

.description_experiences {
	font-family: 'Raleway', sans-serif;
}

.section_img img {
	width: 150px;
	height: auto;
}

